{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=randomuserdb;Username=seu_usuario;Password=sua_senha;Pooling=true;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
